.bg-custom {
    background: #2F3542;
}

hr.divide-section {
    border-top: 2px solid black;
    border-radius: 2px;
    width: 99%;
    margin: auto;
    height: 10px;
    margin-bottom: 20px;
}

body{
    color: #EDF2F4;
    background: #2F3542;
}