:root {
    --skills-menu-background: #1C222F;
    --option-border-color: #b1b1b1;
    --option-label-color: #dddddd;
    --option-text-color: #cccccc;
    --skills-menu-border-radius: 15px;
}

::placeholder {
    color: var(--option-text-color);
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

.sol-container * {
    margin: 0;
    padding: 0;
}

.sol-inner-container {
    position: relative;
    height: 30px;
    line-height: 30px;
    background: var(--skills-menu-background);
    border-radius: 10px;
    width: 10%;
    transition: border linear .2s, box-shadow linear .2s;
}

.sol-container.sol-active .sol-inner-container {
    z-index: 9999;
    color: var(--option-text-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(199, 216, 229, .6);
}

.sol-input-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 25px;
}

.sol-input-container input[type="text"] {
    border: 0;
    background: transparent;
    box-shadow: none;
    color: #555;
    padding: 0 7px;
    outline: none;
    width: 100%;
    height: 100%;
    color: var(--option-text-color);
}

.sol-input-container input[type="text"]:-ms-input-placeholder {
    color: #ccc;

}

.sol-input-container input[type="text"]::-ms-clear {
    display: none;
}

.sol-selection-container {
    display: none;
    margin: 5px 0px 0px 20px;
    position: absolute;
    border-radius: 15px;
    background: #1C222F;
    width: 70%;
    left: 0px;
}

.sol-container.sol-active .sol-selection-container {
    display: block;
    left: inherit;
    top: inherit;
    z-index: 10000;
    /*border: 1px solid red;*/
    overflow-y: auto;
    max-height: 60%;
}

.sol-action-buttons {
    color: #555;
    background: var(--skills-menu-background);
    padding: 7px 10px;

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.sol-action-buttons a {
    line-height: 1em;
    text-decoration: none;
    color: #0088cc;
    border-bottom: 1px solid transparent;
}

.sol-action-buttons a:hover {
    border-bottom: 1px solid #0088CC;
}

.sol-action-buttons .sol-deselect-all {
    float: right;
    border: solid 1px #E6E6E6;
    border-radius: 10px;
    padding: 3px 15px 3px 15px;
    font-size: 15px;
    color: #E6E6E6;
}

.sol-action-buttons .sol-clearfix {
    clear: both;
}

.sol-selection {
    overflow: auto;
    position: relative;
    min-height: 0px;
}

.sol-selection:empty {
    display: none;
}

/* to custom chips */
.sol-option {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--option-border-color);
    border-radius: 15px;
    margin: 0px 5px 0px 0px;
    float: left;
    color: var(--option-text-color);
    cursor: pointer;
    margin-bottom: 5px;
}

.sol-label {
    padding: 5px 10px;
    cursor: pointer;
}

.sol-label-text {
    font-weight: 200;
    font-size: smaller;
    cursor: pointer;
    user-select: none;
}

.sol-selection:not(.sol-keyboard-navigation) .sol-option:hover, .sol-option.keyboard-selection {
    background: #0088CC;
    color: #fff;
}

.sol-optiongroup {
    background: var(--skills-menu-background);
    padding-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 0px 0px 10px;
    border-radius: 15px;
}

.sol-optiongroup-label {
    color: var(--option-label-color);
    background: transparent;/*var(--skills-menu-background);*/
    font-weight: bold;
    margin-bottom: 5px;
    padding: 20px 5px 0px 0px;
    width: 100%;
    order: -1;
}

.sol-optiongroup.disabled {
    color: #999;
}

.sol-selection div:first-child.sol-optiongroup > .sol-optiongroup-label {
    border-top: none;
}

.sol-checkbox, .sol-radio {
    position: absolute;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    top: 4px;
    display: none;
}

.sol-selected-display-item,
.sol-results-count {
    display: inline-table;
    border: 2px solid var(--option-text-color);
    font-size: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
    border-collapse: separate;
    border-radius: var(--skills-menu-border-radius);
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 200;
}

.sol-selected-display-item-text {
    display: table-cell;
    vertical-align: top;
    cursor: pointer;
}

.sol-selected-display-checkbox {
    display: none;
}

.sol-filtered-search {
    display: none;
}

.sol-no-results, .sol-loading-data {
    padding: 5px 0 5px 0;
    color: #999;
    font-style: italic;
    text-align: center;
}

.sol-loading-data {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



/* customizing chips */
.selected-language { 
    background-color: #FFCD29;
    color: black;
    order: -1;
}

/* customizing chips */
.selected-framework { 
    background-color: #FFA629;
    color: black;
    order: -1;
}

/* customizing chips */
.selected-tools { 
    background-color: #0D99FF;
    color: black;
    order: -1;
}

/* customizing chips */
.selected-work-methods { 
    background-color: #E6E6E6;
    color: black;
    order: -1;
}

/* customizing chips */
.selected-mgmt-system { 
    background-color: #9747FF;
    color: black;
    order: -1;
}

/* hide options over the limit */
.hidden-option {
    display: none;
}

.menu-bottom-bar {
    background: var(--skills-menu-background);
    padding: 10px 10px;
    border-bottom-left-radius: var(--skills-menu-border-radius);
    border-bottom-right-radius: var(--skills-menu-border-radius);
}
