:root{
    --background-color: #075E73;
    --text-color: #cccccc;
    --border-radius: 15px;
}

.select-information {
    display: inline-flex;
    gap: 5px;
    font-weight: 200;
    font-size: smaller;
}

.select__item {
    cursor: pointer;
    text-align: center;
    border: solid 1px var(--text-color);
    border-radius: var(--border-radius);
    background: transparent;
    transition: background 0.1s;
    padding: 5px 10px;
    color: var(--text-color)
}

.select__item--selected {
    background:var(--background-color);
    color: var(--text-color);
}

.selected-languages {
    background-color: #2BB7E3;
    color: black !important;
    order: -1;
}

.information-label {
    float: left;
    width: 30%;
}