{% load static %}
<script src="{% static 'CodeBerry/resource/index.js' %}"></script>
<ul class="no-bullets">
    {% for offer in latest_offers_list %}
        <li>
            {% if offer.id < 3 %}
                <div class="premium-border" onclick="showDetails('{{ offer.id }}')">
            {% else %}
                <div class="classic-border" onclick="showDetails('{{ offer.id }}')">
            {% endif %}
                    <!-- Initial information -->
                    <strong class="job-title">{{ offer.offer_title }}</strong>
                    <!-- Div for star icon -->
                    <div class="favorite-container">
                        <span class="favorite-star fas fa-star" onclick="toggleFavorite(event)"></span>
                    </div>
                    <!-- Hidden information -->
                    <div class="expandable">
                        <div id="details_{{ offer.id }}" class="content hidden">
                            <p>Nazwa firmy: {{ offer.company_name  }}</p>

                            <div class="title" onclick="toggleSubjectDetails(event, '{{ offer.id }}_1', this, this)">
                                <span class="toggle-icon" data-job-id="{{ offer.id }}_1">
                                    <img src="{% static 'CodeBerry/images/expand.svg' %}" alt="Expand Icon"
                                         width="15" height="15"/>
                                </span>
                                <b>Opis firmy</b> <a>- Kliknij, aby rozwinąć</a>
                            </div>
                            <div class="content hidden" id="details_{{ offer.id }}_1">
                                <p>Wynagrodzenie: {{ offer.job_position }}</p>
                                <p>Data: {{ offer.pub_date }}</p>
                            </div>

                            <div class="title" onclick="toggleSubjectDetails(event, '{{ offer.id }}_2', this, this)">
                                <span class="toggle-icon" data-job-id="{{ offer.id }}_2">
                                    <img src="{% static 'CodeBerry/images/expand.svg' %}" alt="Expand Icon"
                                         width="15" height="15"/>
                                </span>
                                <b>Proces rekrutacyjny</b> <a>- Kliknij, aby rozwinąć</a>
                            </div>
                            <div class="content hidden" id="details_{{ offer.id }}_2">
                                <p>Proces rekrutacyjny1: {{ offer.job_position }}</p>
                                <p>Proces rekrutacyjny2: {{ offer.pub_date }}</p>
                            </div>

                            <div class="title" onclick="toggleSubjectDetails(event, '{{ offer.id }}_3', this, this)">
                                <span class="toggle-icon" data-job-id="{{ offer.id }}_3">
                                    <img src="{% static 'CodeBerry/images/expand.svg' %}" alt="Expand Icon"
                                         width="15" height="15"/>
                                </span>
                                <b>Benefity</b> <a>- Kliknij, aby rozwinąć</a>
                            </div>
                            <div class="content hidden" id="details_{{ offer.id }}_3">
                                <p>Benefit1: {{ offer.job_position }}</p>
                                <p>Benefit2: {{ offer.pub_date }}</p>
                            </div>

                        </div>
                    </div>
                </div>
        </li>
    {% endfor %}
</ul>
