{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2 text-white" href="#">
      <img
        src="{% static 'CodeBerry/images/CodeBerry_logo.png' %}"
        class="me-2"
        height="80"
        alt="CodeBerry Logo"
        loading="lazy"
      />
      <b>CodeBerry - Berry best jobs!</b>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li>
          <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#locations_map">Mapa
          </button>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button onclick="location.href={% url 'main:loginPanel' %}" type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button onclick="location.href={% url 'main:loginPanel' %}" type="button" class="btn btn-primary me-3">
            Sign up for free
        </button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/mdbootstrap/mdb-ui-kit"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
{% include 'CodeBerry/main_page/map.html' %}
{% include 'CodeBerry/main_page/menu.html' %}