<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>My Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- User page main CSS styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

        <!-- Phone field -->
        <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
        <link rel="stylesheet" href="{% static 'styles/phone-field.css' %}">

        <!-- User information options (education, contract etc) -->
        <script src="{% static 'javascript/user-information.js' %}"></script>
        <script src="{% static 'javascript/manage-user-options.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/user-information.css' %}">

        <!-- Multiple select menu -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'styles/multi-select-menu.css' %}">
        <script src="{% static 'javascript/multi-select-menu.js' %}"></script>

        <!-- Customize user skills checkboxes -->
        <script src="{% static 'javascript/user-skill-checkboxes.js' %}"></script>

        <!-- Salary sliders -->
        <script src="{% static 'javascript/manage-salary-sliders.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/work-contract-sliders.css' %}">
        
        <!-- Upload CV block -->
        <script src="{% static 'javascript/upload-file.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/upload-file.css' %}">
    </head>
    <body>
        {% include 'CodeBerry/user_page/navbar.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        <!-- content here! -->
        {% endblock %}
    </body>

    <script src="{% static 'javascript/phone-field.js' %}"></script>
</html>