{% extends 'CodeBerry/user_page/base.html' %}
{% block content %}

<h1>Home Page</h1>
<p><a href="{% url 'user_page:user-creator' %}">Kreator Użytkownika</a></p>
<p> ---------------------------------------------------------------------------- </p>
<table>
    {% for user in user_creator %}
        <tr>
            <td> Imię i nazwisko: {{ user.user_name }}</td>
            <td> Numer telefonu: {{ user.user_phone_number }}</td>
            <!--
            <td> Języki: {{ user.user_languages }}</td>
            <td> Wykształcenie: {{ user.user_education }}</td>
            <td> Zarobki: {{ user.user_salary }}</td>
            <td> Umiejętności: {{ user.user_skills }}</td>
            <td> Umiejętności test: {{ user.user_skills_test }}</td>
            <td> CV: {{ user.user_cv }}</td>
            -->
        </tr>
    {% endfor %}
</table>



{% endblock %}