{% extends 'CodeBerry/user_page/base.html' %}
{% block title %} Kreator Profilu Użytkownika {% endblock %}

{% block content %}
<div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-name-field outline-field">
            Imię i nazwisko <br> {{ user_form.user_name }}
        </div>
        <div class="phone-field">
            Numer telefonu
            <div class="select-box">
                <div class="selected-option">
                    <div>
                        <span class="iconify" data-icon="flag:pl-4x3"></span>
                    </div>
                </div>
                <div class="options">
                    <input type="text" class="search-box" placeholder="Wyszukaj państwo">
                    <ol>
                    </ol>
                </div>
            </div>
            <div>
                {{ user_form.user_phone_number }}
            </div>
        </div>
        <div class="email-field outline-field">
            Adres e-mail <br> {{ user_form.user_email }}
        </div>
        <div class="education-field">
            <div class="information-label">Wykształcenie</div> 
            {{ user_form.user_education }}
        </div>
        <div class="work-period-field">
            <div class="information-label">Od kiedy możesz zacząć pracę?</div>
            {{ user_form.user_work_period }}
        </div>
        <div class="employment-typ-field">
            <div class="information-label">Preferowany rodzaj pracy</div>
            {{ user_form.user_employment_type }}
        </div>
        <div class="relocation-field">
            <div class="information-label">Możliwość relokacji</div>
            {{ user_form.user_relocation }}
        </div>
        <div class="employment-form-field">
            <div class="information-label">Preferowana forma zatrudnienia</div>
            {{ user_form.user_employment_form }}
        </div>
        <div class="contact-field">
            <div class="information-label">Preferowana forma kontaktu z rekruterem</div>
            {{ user_form.user_contact }}
        </div>
        <div class="languages-field">
            Znajomość języków <br> {{ user_form.user_languages }}
        </div>
        <div class="skills-field">
            Umiejętności <br> {{ user_form.user_skills }}
        </div>

        

        <p>Oczekiwane zarobki</p>



        <input type="range" name="range" id="range" value="0" min="0" max="100" oninput="salary.value=this.value">
        {{ user_form.user_salary }}
        <p>Bio<br> {{ user_form.user_bio }}</p>
        <p>Link do repozytorium z projektami<br> {{ user_form.user_repo_link }}</p>
        <p>Twój Linkedin<br> {{ user_form.user_linkedin }}</p>
        <p>Załącz CV</p>
        <div class="file-droppable">
            <div>Przeciągnij i upuść lub <b>wybierz plik</b></div>
            <span>&times;</span>
            {{ user_form.user_cv }}
        </div>
        <input type="submit" value="Zapisz zmiany">
    </form>
</div>

<!-- Initialize user information options -->
<script>
    // Initialize user information options
    document.querySelectorAll(".user-information").forEach((selectElement) => {
      new CustomSelect(selectElement);
    });

    // Initialize skills menu and user languages menu
    $(function() {
        $('#skills-menu').searchableOptionList();
        $('#user-languages').searchableOptionList();
    });

    ToggleSkillCheckboxClass("Języki", "selected-languages");
    ToggleSkillCheckboxClass("Język programowania", "selected-prog-languages");
    ToggleSkillCheckboxClass("Frameworki i biblioteki", "selected-framework");
    ToggleSkillCheckboxClass("Narzędzia", "selected-tools");
    ToggleSkillCheckboxClass("Metodyka pracy", "selected-work-methods");
    ToggleSkillCheckboxClass("Systemy zarządzania", "selected-mgmt-system");
</script>

{% endblock %}
