{% extends 'CodeBerry/hr_page/base.html' %} {% block content %}

<h1>Lista Ogłoszeń</h1>
<br />
<br />

<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'hr_page:article-detail' post.pk %}">{{ post.title }}</a>
        - <a href="{% url 'hr_page:tag' post.tag|slugify %}">{{ post.tag }}</a> - {{ post.author.first_name }} {{ post.author.last_name }} -
        <small><a href="{% url 'hr_page:update_announcement' post.pk %}">(Edytuj)</a> <a href="{% url 'hr_page:delete_announcement' post.pk %}">(Usuń)</a></small>

        <br />
        <small>Dodano: {{ post.post_date}}</small><br />
        {{ post.body|slice:":535" }}...
        <br />
        <br />
    </li>
    {% endfor %}
</ul>

{% endblock %}
